html, body {
  margin: 0;
  padding: 0 15px 0 15px;
  float: left;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: black url(../images/lightsbg.jpg) repeat-y scroll left top;
  font-family: "Lucida Bright",Georgia,serif;
  color: #959797;
  font-size: 1.3em;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
a {
  color: #ebe3c5;
  text-decoration: underline;
}
a:hover {
  display: inline;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
a, a:hover {
  display: inline;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
a.contact {
  display: inline;
  position: relative;
  color: #ebd6a0;
  text-decoration: none;
  font-size: 1.1em;
}
a.contact:hover {
  display: inline;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
br.clear {
  clear: both;
}
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Courier New",Courier,monospace;
  font-weight: lighter;
  font-size: 1.3em;
  letter-spacing: -1px;
  color: #ebd6a0;
}
h4 {
  margin-top: 30px;
  margin-bottom: 1em;
  font-size: 1.4em;
  font-family: "Courier New",Courier,monospace;
  font-weight: lighter;
  letter-spacing: -1px;
  color: #ebd6a0;
}
h5 {
  margin-bottom: 1em;
  font-size: 0.5em;
  font-family: "Courier New",Courier,monospace;
  font-weight: lighter;
  letter-spacing: -1px;
  color: #ebd6a0;
}
img.left {
  margin: 5px 20px 20px 0;
  float: left;
}
img.maincenter {
  margin: 10px 20px 20px 45px;
  float: left;
  padding-left: 30px;
}
img.top {
  margin: 5px 0 20px;
  padding-left: 20px;
}
p {
  margin-bottom: 1.5em;
}
p.large {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: "Courier New",Courier,monospace;
  font-weight: lighter;
  letter-spacing: -1px;
  color: #ebd6a0;
}
p.space{
  margin-top: 30px;
  margin-bottom: 20px;
}
a.imglink {
  padding: 1% 1% 1% 23px;
  background-color: transparent;
  margin-left: 8px;
}
.logoleft {
  display: inline;
  float: left;
  position: relative;
  margin-right: 20px;
  margin-top: -50px;
  margin-left: -30px;
}
ul {
  margin-bottom: 1.5em;
}
nav {
  margin-top: 50px;
  margin-right: 35px;
  margin-bottom: 0;
  height: 44px;
  float: right;
  color: #222222;
}
ul#nav {
  float: right;
}
ul#nav ul {
  padding-bottom: 15px;
  z-index: 10000;
}
ul#nav li a {
  padding: 5px 25px;
  z-index: 10000;
  text-decoration: none;
  font-family: "Courier New",Courier,monospace;
  color: #f0ddb1;
  margin-right: 2px;
  letter-spacing: -1px;
  font-size: 1.1em;
  margin-bottom: 5px;
  margin-top: 5px;
}
ul#nav li a {
  padding: 5px 25px;
  z-index: 10000;
  text-decoration: none;
  font-family: "Courier New",Courier,monospace;
  color: #f0ddb1;
  margin-right: 2px;
  letter-spacing: -1px;
  font-size: 1.1em;
  margin-bottom: 5px;
  margin-top: 5px;
}
ul#nav li a:hover {
  text-decoration: none;
  font-family: "Courier New",Courier,monospace;
  color: #ffffff;
}
ul#nav li a:active {
  text-decoration: none;
  font-family: "Courier New",Courier,monospace;
  color: #ffffff;
}
#logo h1 {
  font-size: 2em;
  font-weight: lighter;
  font-family: "Courier New",Courier,monospace;
  color: #ebd6a0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.96);
  float: left;
  margin-top: -30px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: 0px;
}
#logo h2 {
  font-size: 1.3em;
  font-weight: lighter;
  font-family: "Courier New",Courier,monospace;
  color: #ebd6a0;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.96); 
  margin-top: 10px;
  margin-left: 175px;
  float: left;
}
#bg {
  padding: 60px 0 5px;
  overflow: hidden;
  background-attachment: scroll;
  background-position: left top;
  background-color: transparent;
  background-repeat: no-repeat;
}
#banner {
  margin: 0px 0 0 25px;
  padding: 5px;
  background: black none repeat scroll 0% 50%;
  position: relative;
  width: 999px;
  height: 155px;
}
#box1 {
  margin: 0px 0 25px;
  overflow: hidden;
  text-align: center;
}
#box2 {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  padding-top: 5px;
  text-align: left;
}
#content {
  border: 2px solid #ebd6a0;
  border-radius:25px;
  box-shadow: 10px 10px 5px #000000;
  margin: 0px 0 0 175px;
  padding: 30px;
  background: black none repeat scroll 0% 50%;
  width: 900px;
  color: #959797;
  min-height:100%;
  height:100%;
  overflow: hidden;
}
#copyright {
  margin: 50px 0 0;
  text-align: center;
  color: #707070;
  font-size: 0.6em;
}
#copyright a {
  color: #ccb9a0;
}
#header {
  padding: 30px;
  position: relative;
  height: 80px;
  width: 1120px;
  color: #ebd6a0;
}
#logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 80px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #ebd6a0;
}
#main {
  margin: 30px 0 0;
  padding: 0px;
  position: relative;
  width: 1180px;
  color: #959797;
}
#outer {
  margin: 0 40px 0 20px;
  position: relative;
  width: 100%;
}
#box2 ul {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
  font-size: 1em;
  margin-left: 5px;
}
#box2ul li {
  border-style: none;
  padding: 5px 0;
  font-size: 1em;
}
html body ul.sf-menu ul ul {
  margin: 0 0 0 180px;
  font-family: "Courier New",Courier,monospace;
}
ul.sf-menu, ul.sf-menu * {
  margin-bottom: 0px;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
ul.sf-menu {
  display: inline;
  position: relative;
  margin-top: -40px;
  float: right;
  margin-right: 50px;
  padding-right: 10px;
}
ul.sf-menu li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  float: left;
  position: relative;
}
ul.sf-menu li:hover {
  text-decoration: none;
  font-family: "Courier New",Courier,monospace;
  color: #ffffff;
}
ul.sf-menu a {
  display: block;
  position: relative;
}
ul.sf-menu ul {
  border: 2px solid #ebd6a0;
  border-radius: 25px;
  background: #000000 none repeat scroll 0% 50%;
  position: absolute;
  width: 150px;
  top: auto;
  left: -999999px;
}
ul.sf-menu ul a {
}
ul.sf-menu ul li {
  width: 150px;
  float: left;
}
ul.sf-menu ul ul {
  margin: 4px 0 4px 150px;
  top: 0;
}
ul#nav li.selected a, ul#nav li a:hover, ul#nav ul li a:hover, ul#nav ul li a:focus, ul#nav li.selected ul a:hover {
  text-decoration: none;
  font-size: 1.1em;
  color: #c0c0c0;
  font-weight: bold;
}
ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul, ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul, ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul, ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto;
}
ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul, ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul, ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul, ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul, ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px;
}
