html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #bfbebb url(../images/greybirds.jpg) repeat scroll center;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0px auto 0px auto;
  height: 100%;
}
a {
  display: inline;
  position: relative;
  color: #990000;
  text-decoration: none;
  font-size: 1.1em;
}
a:hover {
  display: inline;
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 1.1em;
}
a.imglink {
  padding: 1% 1% 1% 23px;
  background-color: transparent;
  margin-left: 8px;
}
a.contact {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline;
  position: relative;
  color: #990000;
  text-decoration: none;
  font-family: Century Gothic,sans-serif;
  font-size: 1em;
}
a.contact:hover {
  display: inline;
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 1em;
}
h3 {
  margin-bottom: 1em;
  font-family: Century Gothic,sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  color: #000000;
}
h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  font-weight: normal;
  color: #000000;
}
h5 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  font-weight: normal;
  color: #000000;
}
h6 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  font-weight: normal;
  color: #000000;
}
img.left {
  margin: 5px 20px 20px 0;
  float: left;
}
img.maincenter {
  margin: 10px 20px 20px 45px;
  float: left;
  padding-left: 30px;
}
img.top {
  margin: 5px 0 20px;
  padding-left: 20px;
}
p {
  margin-bottom: 1.5em;
}
p.large {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  letter-spacing: -1px;
  color: #000000;
}
p.large2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  letter-spacing: -1px;
  color: #000000;
}
p.medium {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-family: Century Gothic,sans-serif;
  letter-spacing: -1px;
  color: #000000;
}
p.centered {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: Tahoma,Geneva,sans-serif;
  letter-spacing: -1px;
  color: #666666;
}
p.space {
  margin-top: 30px;
  margin-bottom: 20px;
}
.logoleft {
  display: inline;
  float: left;
  position: relative;
  margin-right: 20px;
  margin-top: -50px;
  margin-left: -65px;
}
img.left {
  margin: 5px 20px 20px 0;
  float: left;
}
img.maincenter {
  margin: 10px auto;
  padding-bottom: 15px;
  text-align: center;
}
img.top {
  margin: 5px 0 20px;
}
p.largetop {
  font-family: Century Gothic,sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 25px;
}
p.space {
  margin-top: 75px;
  margin-bottom: 75px;
}
p.space2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
p.line {
  border: 1px solid #000000;
  margin-top: 5px;
  margin-bottom: 55px;
}
p.line2 {
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}
#narrowcontent ul {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
  font-size: 1em;
  margin-left: 5px;
}
#narrowcontent ul li {
  border-style: none;
  padding: 5px 0;
  font-size: 1em;
}
#narrowcontent ul li.first {
  border-width: 0;
  padding-top: 0;
}
ul#nav {
}
ul#nav ul {
  padding-bottom: 15px;
  z-index: 10000;
}
ul#nav li a {
  padding: 5px 25px;
  z-index: 10000;
  text-decoration: none;
  font-family: Century Gothic,sans-serif;
  color: #990000;
  margin-right: 2px;
  font-size: 1.1em;
  margin-bottom: 5px;
  margin-top: 5px;
}
ul#nav li a:hover {
  text-decoration: none;
}
ul#nav li a:active {
  text-decoration: none;
  font-family: Century Gothic,sans-serif;
}
ul {
  margin-bottom: 5px;
}
#bg {
  margin: 0px auto;
  padding: 30px 20px 5px 0;
}
#navigation {
  margin-left: 60px;
  text-align: center;
}
#logo {
  margin: 0px auto;
  padding-bottom: 5px;
  text-align: center;
}
#header {
  margin: 35px auto;
  height: 60px;
  float: left;
  width: 650px;
  padding-bottom: 130px;
}
#header h1 {
  font-size: 2.75em;
  font-weight: normal;
  text-align: center;
  font-family: Century Gothic,sans-serif;
  color: #000000;
  padding-bottom: 5px;
  text-shadow: #474747 2px 1px 2px;
}
#header h2 {
  font-size: 2.35em;
  text-align: center;
  font-family: 'Marck Script',cursive;
  color: #54534f;
}
#container {
  border: 5px solid #333333;
  margin: 15px auto 5px;
  padding: 30px;
  background: white none repeat scroll 0% 50%;
  overflow: hidden;
  width: 975px;
  color: #666666;
  font-family: Tahoma,Geneva,sans-serif;
}
#prices {
  margin-left: auto;
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin-right: auto;
}
.box1 {
  margin: 0px 0 25px;
}
.box2 {
  margin: 0px auto;
  text-align: center;
}
#narrowcontent {
  background: white none repeat scroll 0%;
  float: left;
  width: 325px;
  color: #666666;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 1.3em;
  margin-right: 10px;
  padding-right: 30px;
  margin-top: 25px;
  border-right-style: solid;
  border-top-color: #666666;
}
#widecontent {
  background: white none repeat scroll 0%;
  float: right;
  width: 575px;
  margin-top: 50px;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 1.3em;
  color: #666666;
}
.widecontent a {
  font-family: Century Gothic,sans-serif;
  color: #d9dada;
}
.widecontent h2, .widecontent h3, .widecontent h4 {
}
.narrowcontent ul {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
  font-size: 1em;
  margin-left: 5px;
}
.narrowcontent ul li {
  border-style: none;
  padding: 5px 0;
  font-size: 1em;
}
.narrowcontent ul li.first {
  border-width: 0;
  padding-top: 0;
}
#copyright {
  margin: 30px auto 20px;
  position: relative;
  width: 950px;
  text-align: center;
  color: #505556;
  font-size: 0.6em;
}
#schema {
  margin: 30px auto 20px;
  position: relative;
  width: 950px;
  text-align: center;
  color: #505556;
  font-size: 0.6em;
}
#copyright a {
  color: #af2828;
}
#footer {
  margin: 0px auto;
  padding: 20px;
  position: relative;
  float: left;
  width: 950px;
  color: #505556;
}
html body ul.sf-menu ul ul {
  margin-right: auto;
  margin-left: auto;
  width: 975px;
  text-align: center;
  font-family: Century Gothic,sans-serif;
}
ul.sf-menu, ul.sf-menu * {
  text-align: center;
}
ul.sf-menu {
  display: inline;
  position: relative;
  width: 975px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
ul.sf-menu li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-size: 1.3em;
  float: left;
  text-align: center;
  position: relative;
  padding-top: 2px;
  margin-right: auto;
  margin-left: auto;
}
ul.sf-menu li:hover {
  text-decoration: none;
  font-family: Century Gothic,sans-serif;
}
ul.sf-menu a {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
ul.sf-menu ul {
  border: 3px solid #333333;
  background: white none repeat scroll 0% 50%;
  position: absolute;
  width: 155px;
  font-size: 0.8em;
  top: auto;
  left: -999999px;
}
ul.sf-menu ul a {
}
ul.sf-menu ul li {
  width: 150px;
  float: left;
}
ul.sf-menu ul ul {
  margin: 4px 0 4px 150px;
  top: 0;
}
ul#nav li.selected a, ul#nav li a:hover, ul#nav ul li a:hover, ul#nav ul li a:focus, ul#nav li.selected ul a:hover {
  text-decoration: none;
  font-size: 1.1em;
  color: #000000;
}
ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul, ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul, ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul, ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto;
}
ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul, ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul, ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul, ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul, ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px;
}
