/* SlidesJS Optional: If you'd like to use this design */

.slides-wrapper {
  padding:20px 50px;
}
    #slides {
      display: none;
      position:relative;
    }
    .slidesjs-container {
      background-color:#efefef;
    }
    .full-screen .slidesjs-container {
      background-color:transparent;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/slides/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      background-position: -12px 0;
      position:absolute;
      top:20%;
      right:0;
      margin:0;
      width:100px;
      height:50%;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
      position:absolute;
      top:20%;
      left:0;
      margin:0;
      width:100px;
      height:50%;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play,
    a.slidesjs-playing {
      background-position: -25px -18px;
    }

    a.slidesjs-stop,
    a:hover.slidesjs-stop {
      width:18px;
      background-position: -41px -18px;
    }

    a.slidesjs-playing + a.slidesjs-stop {
      background-position: -41px 0;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 38px;
      height: 0;
      padding-top: 38px;
      background-image: url(../images/slides/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
    }

    .slidesjs-pagination li a:hover {
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }


 /* SlidesJS Required: These styles are required if you'd like a responsive slideshow */

    #slides {
      display: none
    }

    .container {
      margin: 0 auto;
      width: auto;
    }

    .full-screen {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:#000;
      z-index:100;
    }
    .slidesjs-control div {
        height:100%;
        text-align:center;
    }
    .slidesjs-slide img {
      width:100%;
      vertical-align: middle;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    
    .slidesjs-slide img.tall {
        height:100%;
        width:auto;
    }

/*
    @media (max-width : 1040px) {
      .container {
        width: auto
      }
    }
    */