Options +FollowSymLinks
RewriteEngine on

<Files .htaccess>
order deny,allow
deny from all
</Files> 

<FilesMatch "\.(ico|flv|jpe?g|png|gif|js|css|swf)$">
ExpiresActive On
ExpiresDefault "access plus 1 month"
</FilesMatch>

#get rid of file extensions 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.htm -f
RewriteRule ^(.*)$ $1.htm

#301 redirect
rewritecond %{http_host} ^tameaburdphotography.com [nc]
rewriterule ^(.*)$ http://www.tameaburdphotography.com$1 [r=301,nc]

#get rid of trailing slashes
RewriteRule ^(.*)/$ http://www.tameaburdphotography.com%{HTTP_HOST}/$1 






