html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
article, aside, figure, footerbar, header, headerbar, hgroup, nav, section {
  display: block;
}
body {
  margin: 0px auto 0px auto;
  background: #ffffff;
  font-size: 1.1em;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
}
h1 {
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: Verdana,Geneva,sans-serif;
}
h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2em;
  color: #d62ab1;
  font-family: Verdana,Geneva,sans-serif;
  padding-bottom: 20px;
}
h3 {
  font-weight: bold;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.2em;
  color: #666666;
  margin-bottom: -35px;
}
h4 {
  font-weight: bold;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.2em;
  color: #666666;
}
h5 {
  font-weight: bold;
  font-size: 1.2em;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
}
h6 {
  font-weight: bold;
  font-size: 1.2em;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
  padding-top: 5px;
}
p, ol, ul {
  font-family: Verdana,Geneva,sans-serif;
}
p {
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
  font-style: normal;
  line-height: normal;
  font-weight: lighter;
  margin-bottom: 25px;
}
p.services {
margin-top: 25px;
margin-bottom: 35px;
}
p.footer{
  color: #666666;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 0.6em;
  text-align: center;
}
.boldcaps {
  color: #5f9703;
  font-weight: bold;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.1em;
  margin-top: 40px;
  margin-bottom: 20px;
}
a {
  color: #00cccc;
}
a:hover {
  text-decoration: none;
}
a img {
  border:  none;
}
.img {
}
.image-left {
  margin: 0 2em 2em 0;
  float: left;
}
.image-center {
  margin: 10px auto;
  padding-left: 95px;
  padding-bottom: 10px;
}
hr {
  display: none;
}
.container {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 965px;
}
.clearfix {
  clear: both;
}
ul.style1 {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-position: inside;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
}
ul.style1 li {
  padding: 5px 0;
  width: 550px;
  list-style-type: disc;
  list-style-position: inside;
}
ul.style1 li:first-child {
  border-top: 0 none;
  padding-top: 0;
}
ul.style2 {
  margin-top: -30px;
  margin-bottom: 20px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
}
ul.style2 li {
  border-top: 1px solid #e5e5e5;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
  width: 300px;
}
ul.style2 li:first-child {
  border-top: 0 none;
  padding-top: 0;
}
.title {
  margin-bottom: 3em;
  color: #666666;
}
.button {
  padding: 5px 8px;
  background: #5f9703;
  letter-spacing: -1px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 15px;
}
.button:hover {
  background-color: #66cccc;
}
.button:active {
}
#main {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  background-color: white;
  width: 965px;
}  
#wrapper {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 965px;
}
#header {
  position: relative;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  position: relative;
}
#logo h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #e8e8e8;
  font-family: verdana,geneva,sans-serif;
  margin-left: 25px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
#logo a {
  text-decoration: none;
  color: #e8e8e8;
}
#menu {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 75px;
  padding-right: 85px;
}
#menu ul {
}
#menu li {
  float: left;
  display: block;
  text-align: center;
}
#menu li a, #menu li span {
  padding: 0em 1.5em;
  text-decoration: none;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 1.1em;
  height: 150px;
  font-weight: bold;
  display: block;
  line-height: 150px;
  color: #e8e8e8;
}
#menu li:hover a, #menu li.active a, #menu li.active span {
  color: #ffe62d;
  text-shadow: black 0.1em 0.1em 0.2em;
}
#menu .current_page_item a {
  color: #ffe62d;
  text-shadow: black 0.1em 0.1em 0.2em;
}
#page {
  padding: 5em 0em;
  overflow: hidden;
  position: relative;
}
#content {
  float: right;
  width: 600px;
  font-family: Verdana,Geneva,sans-serif;
  color: #666666;
}
#sidebar {
  float: left;
  width: 300px;
  color: #666666;
  margin-top: 5px;
  padding-right: 40px;
}
#sidebar #box1 {
  width: 300px;
  margin-bottom: 3em;
  color: #666666;
  margin-top: -25px;
}
#footer {
  background: url(../images/prismfooter.jpg) no-repeat scroll center top;
  color: #e8e8e8;
  text-transform: uppercase;
  font-family: Verdana,Geneva,sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  font-size: 0.6em;
  padding-bottom: 50px;
  padding-top: 15px;
  width:100%;
  margin: auto;
  position: absolute;
}
#header-wrapper {
  background: url(../images/prismheader1.jpg) no-repeat scroll center top;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
  margin-top: 15px;
}
#header-wrapper:before {
  position: absolute;
  left: 0;
  height: 100%;
  content: '';
  top: 0;
  width: 100%;
}
#header-wrapper2 {
  font-size: 1em;
  font-family: verdana,geneva,sans-serif;
}
#two-column {
  color: #666666;
}
#two-column #tbox1 {
  color: #666666;
  float: left;
  width: 600px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
#two-column #tbox2 {
  color: #666666;
  float: left;
  width: 600px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
#two-column #tbox3 {
  color: #666666;
  float: left;
  width: 600px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
#two-column #tbox3 ul.style2 {
  color: #666666;
  width: 600px;
}
#column1, #column2 {
  float: left;
  margin-right: 25px;
  color: #666666;
}