
/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
/* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
/* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
/* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
/* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}	
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  /* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}	
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  /* STYLES GO HERE */
   html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		} 
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
/* STYLES GO HERE */
  html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  /* STYLES GO HERE */ 
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
	html {
		-webkit-text-size-adjust: none;
		}
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  /* STYLES GO HERE */ 
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}  
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}  
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}  
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  /* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}  
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  /* STYLES GO HERE */
      html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  /* STYLES GO HERE */
     html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		} 
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
/* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
/* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
/* STYLES GO HERE */
    html, body {
		width: 100% !important;
		font-size: 1em;
        font-weight: normal;
        font-family: Tahoma, Geneva, sans-serif;
		color: #666666;
		background: #fff;
		padding: 3px;
		margin: 0;
		}
    #footer {
		display: none;
		}
	#content img { 
		max-width: 250px;
		}
	.center {
		width: 100% !important;
		}
}

